.fsc {
  background-color: #E2E7FF;
  color: #646479;
  padding: 36px 0;
  margin-bottom: 84px;
  &__small {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    opacity: 0.7;
    font-weight: 500;
    margin: 0;
  }
  &__title {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  &__desc {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
    font-weight: normal;
  }
  &__btn {
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .5px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding: 14px 30px;
    background: #e05a2d;
    border: 1px solid transparent;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    display: block;
  }
}
.fsс-carousel__item {
  background-image: url("../img/fs-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 540px;
  min-height: 540px;
}
.fsc-carousel .owl-scene {
  top: 36px;
  margin: -22px auto 0
}
.owl-next, .owl-prev {
  display: none;
}

@media screen and (min-width: 768px) {
  .fsc-container {
    max-width: 1440px;
  }
  .fsc {
    &__text {
      max-width: 286px;
      margin-left: 86px;
    }
    &__btn {
      width: 196px;
      max-width: none;
      margin: 0;
    }
  }
  .fsс-carousel__item {
    background-position: right center;
    min-height: unset;
    height: unset;
  }
  .owl-dots {
    bottom: -65px;
  }
}

@media screen and (min-width: 1024px) {
  .fsc {
    padding: 0;
    &__title {
      font-size: 44px;
      line-height: 48px;
      margin-bottom: 18px;
    }
    &__text {
      max-width: 480px;
      margin-left: 76px;
    }
    &__desc {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 36px;
    }
    &__btn {
      width: 212px;
    }
  }
  .fsс-carousel__item {
    background-size: 55% auto;
    background-position: 110% center;
    padding: 56px 0;
  }
  .owl-next, .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: 0 0;
    border: 0;
    outline: 0;
    width: 48px;
    height: 48px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer
  }
  .owl-prev {
    left: 0
  }

  .owl-next {
    right: 0
  }
  .owl-dots {
    bottom: -35px;
  }
}
@media screen and (min-width: 1280px) {
  .fsс-carousel__item {
    background-position: 100% center;
  }
  .fsc-text {
    margin-left: 136px;
  }
}

