.steps {
  &__container {
    padding: 36px 0;
  }
  &__desc {
    padding: 18px 18px 0;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 500;
  }
  &__item {
    min-width: 260px ;
    min-height: 360px;
    box-shadow: rgba(50, 50, 66, 0.12) 0px 4px 30px;
  }
}
.steps-carousel {
  &:before {
    content: '';
    background-image: url("../img/hand.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 18px;
    position: absolute;
    top: -18px;
    right: 18px;
  }
  &__item {
    min-width: 260px ;
    min-height: 360px;
    box-shadow: rgba(50, 50, 66, 0.12) 0px 4px 30px;
  }
  &__number {
    font-size: 108px;
    line-height: 120px;
    font-weight: bold;
    color: #263179;
    padding: 36px 0 36px 24px;
    position: relative;
    &:after {
      content: '';
      width: 81px;
      height: 3px;
      background-color: #E05A2D;
      position: absolute;
      bottom: 16px;
      left: 24px;
    }
  }
  &__desc {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    max-width: 240px;
    padding: 0 24px;
    font-weight: 500;
  }
}
.steps-carousel .owl-stage {
  display: flex;
  min-height: 410px;
  padding: 26px 0;
}
.steps-carousel .owl-dots {
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .steps {
    &__container {
    max-width: 1440px;
    }
    &__desc {
      letter-spacing: 0.02em;
    }
  }
  .steps-carousel:before {
    right: 24px;
  }
  .steps-carousel__number {
    min-width: 286px;
  }
  .steps-carousel .owl-item:first-of-type {
    margin-left: -210px;
  }
}

@media screen and (min-width: 1024px) {
  .steps__desc {
    text-align: center;
  }
  .steps-carousel:before {
    display: none;
  }
  .steps-carousel .owl-item:first-of-type {
    margin-left: -300px;
  }
  .steps-carousel__number {
    min-width: 278px;
  }
}
@media screen and (min-width: 1200px) {
  .steps-carousel .owl-stage {
    margin: 0 auto;
  }
  .steps-carousel .owl-item:first-of-type {
    margin-left: 0;
  }
  .steps-carousel .owl-item:last-of-type {
    margin-right: 0 !important;
  }
}
